<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="jquery.min.js"></script>
<script src="upvote.jquery.js"></script>
<script src="upvote.vanilla.js"></script>

<style>

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700');

p {
    margin: 2px 0px;
	padding: 0px;
	margin-bottom:5px;
	line-height:28px;
}
a{
	text-decoration: none;
	color: #777;
}
a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}
hr {
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}

.bg-red {
  background-color: #f75353 !important;
}
.bg-green {
  background-color: #51d466 !important;
}

/* General CSS */
body{
	background:#f4f8fd;
}
/* UI - X */
.movie-ticket{
	max-width: 650px;
	margin: 60px auto;
}
/* Head */
.movie-ticket .ui-item .ui-head{
	position: relative;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.movie-ticket .ui-item .ui-head img.bg-img{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
@media(max-width: 660px){
	.movie-ticket .ui-item .ui-head img.bg-img{
		display: none;
	}
}
/* Transparent Background */
.movie-ticket .ui-head .ui-trans{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	padding: 25px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
@media(max-width: 660px){
	.movie-ticket .ui-head .ui-trans{
		background: #fff;
		position: inherit;
		border:1px solid #ddd;
		border-bottom:0px;
	}
}
.movie-ticket .ui-head .ui-trans img{
	max-width: 180px;
	float: left;
	border:1px solid rgba(255,255,255,0.3);
	box-shadow: 0px 0px 10px 0px #000;
}
@media(max-width: 660px){
	.movie-ticket .ui-item .ui-trans img{
		float: none;
		margin-bottom: 15px;
		box-shadow:none;
	}
}
/* Details */
.movie-ticket .ui-trans .ui-details{
	margin-left: 205px;
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details{
		margin-left: 0px;
	}
}
/* Heading */
.movie-ticket .ui-trans .ui-details h2{
	font-size: 28px;
	line-height:38px;
	font-weight:300;
}
.movie-ticket .ui-trans .ui-details h2 > a{
	color: #fff;
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details h2 > a{
		color: #555;
	}
}
/* Label */
.movie-ticket .ui-trans .ui-details a.label{
	border: 1px solid rgba(255, 255, 255, 0.3);
	margin:5px 2px;
	display: inline-block;
	background:rgba(0,0,0,0.3);
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details a.label{
		border: 1px solid #ccc;
		color: #555;
		background:transparent;
	}
}
.movie-ticket .ui-trans .ui-details p{
	font-size: 12px;
	line-height: 23px;
	color: #fff;
	margin-bottom: 5px;
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details p{
		color: #555;
	}
}
/* Small Headings */
.movie-ticket .ui-trans .ui-details h4{
	color: #fff;
	font-size: 12px;
	line-height: 23px;
	margin: 0px;
	width: 100px;
	float: left;
	font-weight: 600;
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details h4{
		color: #555;
		width: 70px;
	}
}
.movie-ticket .ui-trans .ui-details h4 > span{
	display: inline-block;
	width: 75px;	
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details  h4 > span{
		width: 55px;
	}
}
.movie-ticket .ui-trans .ui-details h5{
	margin-left: 100px;
	font-size: 12px;
	line-height: 23px;
	font-weight: 400;
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details  h5{
		margin-left: 65px;
	}
}
.movie-ticket .ui-trans .ui-details h5 > a{
	color: #fff;
}
@media(max-width: 660px){
	.movie-ticket .ui-trans .ui-details h5 > a{
		color: #555;
	}
}
/* Review */
.movie-ticket .ui-item .ui-review{
	border:1px solid #ddd;
	padding: 15px 20px 15px;
	border-top:0px;
	background:#fff;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
@media(max-width: 660px){
	.movie-ticket .ui-item .ui-review{
		border-top:1px solid #ddd;
	}
}
/* Heading */
.movie-ticket .ui-item .ui-review h3{
	font-size: 16px;
	line-height: 26px;
	display: inline-block;
}
/* Paragraph */
.movie-ticket .ui-item .ui-review p{
	font-size: 13px;
	line-height: 28px;
	color: #777;
	margin-bottom:10px;
}
/* Button */
.movie-ticket .ui-item .ui-review a.ui-btn{
	display: inline-block;
	margin: 0px 5px 8px 0px;
	padding: 5px 10px;
	color: #fff;
	font-size: 13px;
	line-height: 23px;
	font-weight: 600;
	border-radius: 2px;
}
.movie-ticket .ui-item .ui-review a.ui-btn > i{
	border-right: 1px solid rgba(0,0,0,0.1);
	padding-right: 7px;
	margin-right: 3px;
}
div.upvote {
  text-align: center;
}

div.upvote a {
  cursor: default;
  color: transparent;
  background-image: url('upvote.svg?v=1');
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
  width: 40px;
  height: 30px;
}

div.upvote-enabled a {
  cursor: pointer;
}

div.upvote span.count {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #6a737c;
  margin: 8px 0;
}

div.upvote a.upvote {
  background-position: 0px -170px;
}

div.upvote a.upvote.upvote-on {
  background-position: -40px -170px;
}

div.upvote a.downvote {
  background-position: 0px -220px;
}

div.upvote a.downvote.downvote-on {
  background-position: -40px -220px;
}

div.upvote a.star {
  background-position: 0px -120px;
}

div.upvote a.star.star-on {
  background-position: -40px -120px;
}

div.upvote-unix a.upvote.upvote-on, div.upvote-unix a.downvote-on {
  filter: invert(.5) sepia(1) hue-rotate(165.7518582deg)  saturate(3.8235864)  hue-rotate(-0.81675376deg)  brightness(.47739161);
}

div.upvote-serverfault a.upvote.upvote-on, div.upvote-serverfault a.downvote-on {
  filter: invert(.5) sepia(1) hue-rotate(315.5792014deg) saturate(7.91709017) hue-rotate(346.04745219deg) brightness(.57640233);
}

div.upvote-superuser a.upvote.upvote-on, div.upvote-superuser a.downvote-on {
  filter: invert(.5) sepia(1) hue-rotate(159.50943396deg) saturate(2.94246645) hue-rotate(-4.96258652deg) brightness(.925639);
}
 
a {
  padding-left: 5px;
}

/* some simple transitions to make the upvote and downvote
buttons fade in as a visual cue for the user */

.glyphicon {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.glyphicon:hover {
  opacity: 0.75;
  cursor: pointer;
}

</style>
<div class="movie-ticket" ng-repeat="value in data">
	<div class="container-fluid">
		<!-- Item -->
		<div class="ui-item">
			<!-- Head -->
			<div class="ui-head">
				<!-- Background Image -->
				<img src="https://lorempixel.com/800/400/technics/7/" alt="" class="img-responsive bg-img">
				<!-- Transparent Background -->
				<div class="ui-trans clearfix">
					<!-- Image -->
					<img ng-src="./assets/{{value.image}}.png" alt="" class="img-responsive">
                    <!-- Details -->
					<div class="ui-details clearfix">
                        <h4><span>Title</span>:</h4>
                        <h5>{{value.title}}</h5>
                        <h4><span>Department</span>:</h4>
                        <h5>{{value.department}}</h3>
                        <h4><span>Description</span>:</h4>
                        <h5>{{value.description}}</h3>

                        <!-- Movie Name -->
					
						<p>Nemo enim ipsam volup tatem quia volup tas sit asper natur aut odit aut fugit volup quia volup tas sit asper natur aut odit aut fugit volup tatem sequi nesc iunt.</p>
						<!-- Heading -->
						<h4><span>Director</span>:</h4>
						<!-- Director Name -->
						<h5><a href="#">Joss Whedon</a></h5>
						<!-- Heading -->
						<h4><span>Writers</span>:</h4>
						<!-- Writers -->
						<h5><a href="#"> Joss Whedon (screenplay), Zak Penn (story)</a></h5>
						<!-- Heading -->
						<h4><span>Stars</span>:</h4>
						<!-- Stars -->
						<h5><a href="#">Slorm Mckency. ,</a> <a href="#">Maring lawyent ,</a> <a href="#">Lowin cleanting</a></h5>
					</div>
				</div>
			</div>
				<!-- Review -->
				<div class="ui-review">

                    <!-- Paragraph -->
					<p ng-model = "value.department">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <button class="ui-btn bg-green" ng-init = "value.upvoteflag = 1 && upvotecount=value.upvote" ng-click = "upvote(value.id)"><i class="fa fa-ticket"></i> Upvote</a>
                    <p ng-if="!value.upvoteflag">{{value.upvote}}</p>
                    <p ng-if="value.upvoteflag">{{value.upvotecount}}</p>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="ui-btn bg-red" ng-init = "value.downvoteflag = 1  && downvotecount=value.downvote" style="align-content: center;"ng-click = "downvote(value.id)"><i class="fa fa-dot-circle-o"></i> DownVote</a>
                        <p ng-if="!value.downvoteflag">{{value.downvote}}</p>
                    <p ng-if="value.downvoteflag">{{value.downvotecount}}</p>
                </div>
			</div>	
		</div>
</div>   
<script>
$('#topic').upvote({
  count: 5
});
$('#topic').upvote({
  count: 5,
  upvoted: true,
  downvoted: false,
  starred: true
});
$('#topic').upvote('upvote');



</script>                             