<!DOCTYPE html>
<html>
<body ng-app="citySolver" ng-controller = "loginController">
<div class="container">
        <div id="loginbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                <div class="panel panel-info" >
                        <div class="panel-heading">
                            <div class="panel-title">Sign In</div>
                            <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                        </div>     
        
                        <div style="padding-top:30px" class="panel-body" >
        
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                                
                            <form id="loginform" class="form-horizontal" role="form">
                                        
                                    <div class="form-group">
                                            <label for="email" class="col-md-3 control-label">Email</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" ng-model="arr.username" placeholder="Email Address">
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <label for="password" class="col-md-3 control-label">Password</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" ng-model="arr.password" placeholder="Password">
                                        </div>
                                    </div>
        
                                    <div style="margin-top:10px" class="form-group">
                                        <!-- Button -->
        
                                        <div class="col-sm-12 controls">
                                          <input type="button" id="btn-login" href="#" class="btn btn-success" ng-click = "checkLogin()">Login  </a>
        
                                        </div>
                                    </div>
        
        
                                    <div class="form-group">
                                        <div class="col-md-12 control">
                                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                                Don't have an account! 
                                            <a href="#" ng-model="signup=true">
                                                Sign Up Here
                                            </a>
                                            </div>
                                        </div>
                                    </div>    
                                </form>     
        
        
        
                            </div>                     
                        </div>  
        </div>
        </div>
    </body>
    </html>
    
